{% load static %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Каталог | {{ product.content.name }}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="product">
        <div class="images">
            {% for image in product.images %}
                <img src="{{ image.file }}" alt="{{ image.tooltip }}">
            {% endfor %}
        </div>

        <h2>{{ product.content.name }}</h2>
        <h4>{{ product.content.description }}</h4>
        <p>{{ product.content.base_price }} ₽</p>
        
        <div class="parameters">
            {% for parameter in product.parameters %}
                <div class="parameter">
                    <b>{{ parameter.name }}: {{ parameter.value }}</b>
                    <p class="price">{{ parameter.price }} ₽</p>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>